body {
	color: #fff;
    background-color: rgb(27, 27, 31);
	cursor: url('../img/cursorw.png') 11 11, auto;
}

a {
	cursor: url("../img/cursorw2.png") 11 11, auto;
}


li {
	list-style: none;
	color: #fff;
  }
li a {
	color: #fff;
}
  
ul {
	margin: 0;
	padding: 0;
  }

footer {
	display: flex; 
	align-items: center;
	justify-content: center;
	width: 100%;
  }

footer text {
	width: 60%;
  }

h4 {
	font-weight: normal;
	margin: -0.28rem 0.2rem 0 0; 
	color: #fff;
}
h6 {
	font:'Roboto Mono', monospace;
	font-weight: normal;
	color: #fff;
}


h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: normal;
	margin: 4rem 0 -0.6rem 0;
	color: #fff;
}

#experiences li {
	border-top: 3px rgb(255, 255, 255) solid;
	padding: 4rem 0;
  }
  
#experiences li:last-child {
	border-bottom: 3px solid;
  }


#intro {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
  }


.intro-width {
	width: 60%;
	font-family: Raleway, sans-serif;
	font-size: 3.6rem;
	line-height: 4.2rem;
	font-weight: 500;
  }

.intro-width a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	position: relative;
  }


.intro-width a:hover {
	color: rgb(111, 106, 255);
  }

.intro-width a sup {
	text-decoration: none;
	color: transparent;
	outline: none;
}

.intro-width a:hover sup {
	text-decoration: none;
	color: #fff;
	outline: none;
}

.intro-width sup {
	display: inline-block;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.7rem;
	font-weight: 400;
	color: #fff;
	letter-spacing: -0.2pt;
	vertical-align: super;
	top: -0.76rem;
	margin: -1px 10px 0 6px;	
}
  


.mjA {
	position: fixed;
	top: 60%;
	left: 1.8rem;
	z-index: 10;
	transform-origin: left top;
	transform: rotate(-90deg);
  }
  
.mjA a {
	font-family: 'Manrope',Arial,Helvetica,sans-serif,'Roboto Mono',monospace;
	color: #fff;
	text-decoration: none;
  }
  
.mjA a:hover {
	color: rgb(111, 106, 255);
	text-decoration: none;
  }

.mjB {
	position: fixed;
	top: 55%;
	z-index: 10;
	right: 1.8rem;
	transform-origin: right top;
	transform: rotate(90deg);
  }
  
.mjB a {
	font-family: 'Manrope',Arial,Helvetica,sans-serif,'Roboto Mono',monospace;
	color: #fff;
	text-decoration: none;
  }

.mjB a:hover {
	color: rgb(111, 106, 255);
	text-decoration: none;
  }

  @media screen and (max-width: 50em) {
	h4 {
		font-weight: normal;
		margin: -0.13rem 0.2rem 0 0; 
		color: #fff;
	}
	h6 {
		font:'Roboto Mono', monospace;
		font-weight: normal;
		font-size: 0.65rem;
		color: #fff;
	}
	
	h5 {
		font-family: 'Roboto', sans-serif;
		font-size: 0.7rem;
		font-weight: normal;
		margin: 1rem 0 0rem 0;
		color: #fff;
	}
	
	#experiences li {
		border-top: 2px rgb(255, 255, 255) solid;
		padding: 2.0rem 0;
	  }
	  
	#experiences li:last-child {
		border-bottom: 2px solid;
	  }

	  

	#intro {
		justify-content: center;
		width: 100%;
		padding: 2.8rem 4.5rem 0 4.5rem;
		box-sizing: border-box;
	  }
	
	.intro-width {
		font-size: 1.4em;
		width: 100%;
		line-height: 1.8rem;
		font-weight: 600;
	}

	.intro-width a {
		text-decoration: none;
		color: #fff;
	  }
	
	
	.intro-width a:hover {
		text-decoration: none;
		color: #fff;
		opacity: 0.4;
		border-bottom: 0px solid transparent;
		position: relative;
		width: 100%;
	  }
	
	
	.intro-width sup {
		display: inline-block;
		font-family: 'Roboto Mono', monospace;
		font-size: 0.5rem;
		font-weight: normal;
		color: #fff;
		letter-spacing: -0.1pt;
		vertical-align: super;
		top: -0.2rem;
		margin: -1px 6px 0 4px;	
	}
	  
	.intro-width a:hover .bar {
		border-bottom: none;
	  }
	
	.bar {
		border-bottom: 4px solid #000;
		width: 100%;
		position: relative;
		top: -4px;
	}
	
	.hover-img {
		display:none;
	}
	.intro a:hover .hover-img {
		display:inline-block;
		position:absolute;
		
	}
	
}

@media screen and (max-width: 50em) {
.mjA {
	position: fixed;
	top: 50%;
	left: 0.9rem;
	z-index: 10;
	transform-origin: left top;
	transform: rotate(-90deg);
	font-size: 1rem;
  }
  
.mjA a {
	font-family: 'Manrope',Arial,Helvetica,sans-serif,'Roboto Mono',monospace;
	color: #fff;
	text-decoration: none;
  }
  
.mjA a:hover {
	color: rgb(111, 106, 255);
	text-decoration: none;
  }

.mjB {
	position: fixed;
	top: 50%;
	z-index: 10;
	right: 0.9rem;
	transform-origin: right top;
	transform: rotate(90deg);
	font-size: 1rem;
  }

.mjB a {
	font-family: 'Manrope',Arial,Helvetica,sans-serif,'Roboto Mono',monospace;
	color: #fff;
	text-decoration: none;
  }

.mjB a:hover {
	color: rgb(111, 106, 255);
	text-decoration: none;
  }
}
