@font-face {
	font-family: 'nexa_boldregular';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot');
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff2') format('woff2'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff') format('woff'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.ttf') format('truetype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	--text-color: rgb(30, 30, 39);
	--background-color: #fff;
	--background-color-2: #f5f4fb;
	--background-color-3: #f5f4fb;
	font-family: 'Roboto Mono',monospace;
	color: var(--text-color);
	background-color: var(--background-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* Image */
a img { display:none; }
a:hover img { display:block; position:absolute;}

@keyframes loaderAnim {
	to {
		transform: rotate(360deg);
	}
}

main {
	position: relative;
	width: 100%;
	overflow: hidden;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: #000000;
  }
  
footer text {
	width: 60%;
  }

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.center-y {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mjA {
	font-family: 'Manrope',Arial,Helvetica,sans-serif,'Roboto Mono',monospace;
	font-size: 1.2rem;
	position: fixed;
	top: 50%;
	left: 1.8rem;
	z-index: 10;
	transform-origin: left top;
	transform: rotate(-90deg);
  }
  
.mjA a {
	color: #1e1e27;
	text-decoration: none;
  }
  
.mjA a:hover {
	color: rgb(73, 62, 230);
	text-decoration: none;
  }

.mjB {
	font-family: 'Manrope',Arial,Helvetica,sans-serif,'Roboto Mono',monospace;
	font-size: 1.2rem;
	font-weight: 400;
	position: fixed;
	top: 50%;
	z-index: 10;
	right: 1.8rem;
	transform-origin: right top;
	transform: rotate(90deg);
  }
  
.mjB a {
	color: rgb(30, 30, 39);
	text-decoration: none;
  }

.mjB a:hover {
	color: rgb(73, 62, 230);
	text-decoration: none;
  }


  @media screen and (max-width: 70em) {

	.mjA {
		position: fixed;
		top: 50%;
		left: 1.8rem;
		z-index: 10;
		transform-origin: left top;
		transform: rotate(-90deg);
		font-size: 1.2rem;
	  }
	  
	.mjA a {
		font-family: 'Manrope',Arial,Helvetica,sans-serif,'Roboto Mono',monospace;
		color: #000;
		text-decoration: none;
	  }
	  
	.mjA a:hover {
		color: rgb(111, 106, 255);
		text-decoration: none;
	  }
	
	.mjB {
		position: fixed;
		top: 50%;
		z-index: 10;
		right: 1.8rem;
		transform-origin: right top;
		transform: rotate(90deg);
		font-size: 1.2rem;
	  }
	
	.mjB a {
		font-family: 'Manrope',Arial,Helvetica,sans-serif,'Roboto Mono',monospace;
		color: #000;
		text-decoration: none;
	  }
	
	.mjB a:hover {
		color: rgb(111, 106, 255);
		text-decoration: none;
	  }
	}

	@media screen and (max-width: 55em) {

		.mjA {
			position: fixed;
			top: 50%;
			left: 1.2rem;
			z-index: 10;
			transform-origin: left top;
			transform: rotate(-90deg);
			font-size: 1rem;
		  }
		  
		.mjA a {
			font-family: 'Manrope',Arial,Helvetica,sans-serif,'Roboto Mono',monospace;
			color: #000;
			text-decoration: none;
		  }
		  
		.mjA a:hover {
			color: rgb(111, 106, 255);
			text-decoration: none;
		  }
		
		.mjB {
			position: fixed;
			top: 50%;
			z-index: 10;
			right: 1.2rem;
			transform-origin: right top;
			transform: rotate(90deg);
			font-size: 1rem;
		  }
		
		.mjB a {
			font-family: 'Manrope',Arial,Helvetica,sans-serif,'Roboto Mono',monospace;
			color: #000;
			text-decoration: none;
		  }
		
		.mjB a:hover {
			color: rgb(111, 106, 255);
			text-decoration: none;
		  }
		}